.pb-calendar {
  background: white;
  padding: 20px 20px 20px 40px;
  border-radius: 8px;
  border: 1px solid #dedede;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: #f9423a;
  }
}
