.pb--propsTable {
  background: white;
  padding: 15px 20px;
  margin: 10px 0;
  border: 1px solid #eee;

  &--table {
    width: 100%;
    background: white;

    tr {
      padding: 10px;
    }

    th {
      text-align: left;
    }

    td {
      background: #eee;
      padding: 10px;
    }
  }
}
