<% wrapperclass = data.fetch(:wrapperclass) %>
<% componentclass = data.fetch(:componentclass) %>
<% text = data.fetch(:text) %>

<div class="<%= wrapperclass %>">
    <div class="<%= componentclass %>">
        <span><%= text %></span>
    </div>
</div>