<%
  data ||= {}
  wrapperclass = data.fetch(:wrapperclass, 'pb-div-wrapper')
  componentclass = data.fetch(:componentclass, 'pb-div')
  text = data.fetch(:text, 'I am pbDiv')
%>

<div class="<%= wrapperclass %>">
    <div class="<%= componentclass %>">
        <span><%= text %></span>
    </div>
</div>
