<div class="vertical-nav-list">
  <div class="vertical-nav-list-title">
    <a class="vertical-nav-list-item-link-text" href="<%= object.link %>">
      <%= pb_rails("caption", props: { text: object.title, tag: "p" }) %>
    </a>
  </div>
  <ul>  
    <%= object.yield(context: self) %>
  </ul>
</div>
