<li class="vertical-nav-list-border-item<%= object.active %>">
  <a href=<%= object.link %> class="vertical-nav-list-item-link">
    <span class="vertical-nav-list-item-link-text"><%= object.text %></span>
  </a>
</li>
