.pb--propsTable {
  padding: 15px 20px;
  margin: 0 0 10px 0;

  &--table {
    width: 100%;

    tr {
      padding: 10px;
    }

    th {
      text-align: left;
    }

    td {
      background: #F4F6F8;
      padding: 10px;
    }
  }
}
