.pb--propsTable {
  background: white;
  padding: 15px 20px;
  margin: 0 0 10px 0;
  border: 1px solid #DFE3E8;

  &--table {
    width: 100%;
    background: white;

    tr {
      padding: 10px;
    }

    th {
      text-align: left;
    }

    td {
      background: #F4F6F8;
      padding: 10px;
    }
  }
}
