.pb--propsTable {
  padding: 15px 20px;
  margin: 0 0 10px 0;

  &--table {
    width: 100%;

    tr {
      padding: 10px;
    }

    th {
      text-align: left;
      padding: 10px 10px 5px 10px;
      color: #454F5B;
      font-size: 12px;
      text-transform: uppercase;
    }

    td {
      background: #F4F6F8;
      padding: 10px;
    }
  }
}
