@import "../../tokens/colors";

// Main Home Page Layout with Sidebar
.pb--page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &--topNav {
    flex: 0 0;
    border-bottom: 1px solid $sky;
    padding: 20px 30px;
    background: $white;
  }

  &--content {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;

    &--sideNav {
      flex: 0 0 250px;
      padding: 0;
      background: $white;
      border-right: 1px solid $sky;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &--main {
      flex-grow: 1;
      padding: 40px 60px;
      overflow-y: auto;
    }
  }
}
