//Capping
$bend:4px;

//Cap Options
$cap-top: $bend $bend 0 0 ;
$cap-right: 0 $bend $bend 0;
$cap-bottom: 0 0 $bend $bend;
$cap-left: $bend 0 0 $bend;

$cap-options:
  "top" $cap-top,
  "right" $cap-right,
  "bottom" $cap-bottom,
  "left" $cap-left;

@each $tuple in $cap-options {
    .cap-#{nth($tuple, 1)} {
        border-radius: #{nth($tuple, 2)} !important;
    }
}
