<%
  data ||= {}
  componentclass = data.fetch(:componentclass, "pb-#{name}")
  text = data.fetch(:text, "I am pb-#{name}")
%>

<span class="<%= componentclass %>">
    <span><%= text %></span>
</span>
