<%
  data ||= {}
  wrapperclass = data.fetch(:wrapperclass, 'kit-btn-wrapper')
  componentclass = data.fetch(:componentclass, 'kit-btn')
  text = data.fetch(:text, 'Button')
%>

<div class="<%= wrapperclass %>">
    <button class="<%= componentclass %>">
        <span><%= text %></span>
    </button>
</div>
