<% component_props ||= nil %>

<% if( !component_props.nil? ) %>
  <div class="pb--example">
    <%= pb_rails(component_name, component_props) %>
  </div>
  <div id="pb--codeRails" class="pb--codeCopy">
    <%= pb_rails_snippet(component_name, component_props) %>
  </div>
<% end %>
