<% component_props ||= nil %>

<% if( !component_props.nil? ) %>
  <div class="pb--example">
    <%= pb_react(component_name, props: component_props) %>
  </div>
  <div id="pb--codeReact" class="pb--codeCopy">
    <%= pb_react_snippet(component_name, component_props) %>
  </div>
<% end %>
