<%
  component_name ||= nil
  component_props ||= nil
%>

<div class="pb--propsTable">
  <% if (!component_name.nil?) %>
    <h2 class="pb--propsTable--name"><%= component_name %></h2>
  <% end %>

  <div class="pb--propsTable--component">
    <%= pb_rails(component_name, component_props) %>
  </div>

  <table class="pb--propsTable--table">
    <thead>
      <tr>
        <th>Prop</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% if( !component_props.nil? ) %>
        <% component_props[:props].each_with_index do |(key,value),index| %>
          <% if (key != :show_props) %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
