<%
  props ||= {}
  active = props.fetch(:active, false)
  active = active ? "-active" :  ''
  text = props.fetch(:text, '')
  link = props.fetch(:link, '#')
%>

<li class="vertical-nav-list-border-item<%= active %>">
  <a href=<%= link %> class="vertical-nav-list-item-link">
    <!-- <span class="vertical-nav-list-item-link-icon"></span> -->
    <span class="vertical-nav-list-item-link-text"><%= text %></span>
  </a>
</li>
