<%
  data ||= {}
  text = data.fetch(:text, '')
  link = data.fetch(:link, '#')
%>

<li class="vertical-nav-list-border-item">
  <a href=<%= link %> class="vertical-nav-list-item-link">
    <!-- <span class="vertical-nav-list-item-link-icon"></span> -->
    <span class="vertical-nav-list-item-link-text"><%= text %></span>
  </a>
</li>
