<% text = data.fetch(:text) %>

<li class="vertical-nav-list-border-item">
  <a href="#" class="vertical-nav-list-item-link">
    <span class="vertical-nav-list-item-link-icon"></span>
    <span class="vertical-nav-list-item-link-text"><%= text %></span>
  </a>
</li>
