

<%= pb_rails("sidebar", props: { position: "left", size: "xs" }) do %>
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
<% end %>



<div class="sidebar_sm_left">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_md_left">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_lg_left">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_xl_left">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>


<!--  -->


<div class="sidebar_xs_right">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_sm_right">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_md_right">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_lg_right">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>

<div class="sidebar_xl_right">
  <nav class="sidebar_aside">
  </nav>
  <article class="sidebar_body">
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
  </article>
</div>
