<%
  props ||= {}
  wrapperclass = props.fetch(:wrapperclass, 'kit-btn-wrapper')
  text = props.fetch(:text, 'Default')
  type = props.fetch(:type, '')
  size = props.fetch(:size, '')
%>


<div class="<%= wrapperclass %>">
  <button class="kit_btn<%= type.blank? ? '_' + type : '' %>">
    <span><%= text %></span>
  </button>
</div>

