.filter-display {
  background: $white;
  border: 1px solid $sky;
  padding: $space-base $space-large;
  color: $ink-light;
  border-radius: $border-rad-light;
  margin-bottom: $space-base;
  @include box-shadow($shadow-lt-shallow);
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);

  &-description {
    margin-bottom: 0 !important;

    .highlighter {
      padding: $space-smallest*2 $space-smaller $space-smallest;
      margin: 0 $space-smaller 0 $space-smallest;
      border-radius: $border-rad-light;
      font-weight: $bold;
      line-height: $font-small;
      display: inline-block;
    }
  }

  & > div {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);

    &:last-child {
      margin-left: $space-large;
    }

    & > .btn {
      margin-bottom: 0;

      svg {
        vertical-align: -4px;
        color: #8f9aa4;
        margin-right: 2px;
      }
    }

    .filter-form-sort-options {
      .btn {
        font-weight: $regular;
        font-size: $font-smallest;
        color: $ink-lighter;
        text-transform: uppercase;

        b {
          font-weight: $bold;
          font-size: $font-small;
          color: $ink;
          margin-left: $space-smallest;
          display: inline-block;
          text-transform: none;
          letter-spacing: 0;
        }
      }
    }
  }
}
