@import "../tokens/colors";
@import "../tokens/spacing";

@function str_replace($string, $search, $replace: '') {
  $index: str_index($string, $search);

  @if $index {
    @return str_slice($string, 1, $index - 1) + $replace + str_replace(str_slice($string, $index + str_length($search)), $search, $replace);
  }

  @return $string;
}

// Only White and Dark.
// We could make this into a mixin for custom color sidebars.
// Just pass background and border color

// Another Style. Floating Sidebars
// They need card applied


// sidebar_lg_left
// sidebar_lg_left_dark
// sidebar_lg_left_transparent
// sidebar_lg_left_collapse_sm
// sidebar_lg_left_dark_collapse_sm


// sidebar_xl_collapse_sm
// sidebar_full_xl_collapse_sm // Are they 100% by default?
// sidebar_dark_xl_collapse_sm
// sidebar_dark_full_xl_collapse_sm
// sidebar_transparent_xl_collapse_sm // Floating


.sidebar {

  $name: ".sidebar";

  &_section {
    padding: $space_base $space_largest;
    &_border {
      padding: $space_base $space_largest;
      border-bottom: 1px solid $sky;
      &_margin {
        margin: $space_base $space_largest;
        border-bottom: 1px solid $sky;
      }
    }
  }

  $sidebar_sizes: (
    "xs":   64px,
    "sm":   200px,
    "md":   250px,
    "base": 250px,
    "lg":   300px,
    "xl":   365px,
  );

  @mixin sidebar_settings($size, $side, $color, $selector) {
    $parent_name: str_replace($selector, '.', '');
    display: grid;
    @if $side == 'left' {
      grid-template-areas: "#{$parent_name}_aside #{$parent_name}_body";
      grid-template-columns: $size auto;
    } @else {
      grid-template-areas: "#{$parent_name}_body #{$parent_name}_aside";
      grid-template-columns: auto $size;
    }
    #{$name}_body {
      grid-area: #{$parent_name}_body;
    }
    #{$name}_aside {
      grid-area: #{$parent_name}_aside;
      @if $side == 'left' {
        border-right-width: 1px;
        border-right-style: solid;
        @if $color == 'dark' {
          background: $white_opacity_1;
          border-right-color: $white_opacity_1;
        } @else if $color == 'transparent' {
          border-right-color: transparent;
        } @else {
          background: $white;
          border-right-color: $sky;
        }
      }
      @if $side == 'right' {
        border-left-width: 1px;
        border-left-style: solid;
        @if $color == 'dark' {
          background: $white_opacity_1;
          border-left-color: $white_opacity_1;
        } @else if $color == 'transparent' {
          border-left-color: transparent;
        } @else {
          background: $white;
          border-left-color: $sky;
        }
      }
    }
  }


  @each $name, $size in $sidebar_sizes {
    &_#{$name} {
      &_left {
        @include sidebar_settings($size, 'left', 'light', "#{&}");
        &_dark {
          @include sidebar_settings($size, 'left', 'dark', "#{&}");
        }
        &_transparent {
          @include sidebar_settings($size, 'left', 'transparent', "#{&}");
        }
      }
      &_right {
        @include sidebar_settings($size, 'right', 'light', "#{&}");
        &_dark {
          @include sidebar_settings($size, 'right', 'dark', "#{&}");
        }
        &_transparent {
          @include sidebar_settings($size, 'right', 'transparent', "#{&}");
        }
      }
    }
  }

}
