@import "~nitro-storybook/sass-mixins/base-mixins/_all.scss";
@import "~nitro-storybook/sass-mixins/base-variables/_all.scss";

$step-progress-li-height: 70px;
$step-progress-bubble-height: 34px;
$step-progress-line-height: 4px;

$bg-light-color: $sky;
$bg-light-text: $ink;
$bg-dark-color: $ink-lightest;
$bg-dark-text: $white;
