doctype html
html
  head
    title Playbook Design System
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'main'
    = javascript_pack_tag 'application'
  body
    = render 'layouts/nitro_sg/nav'
    div class="container"
      main
        div class="side-nav"
          ul
            li
              a href="#{kits_path}" Kits
            li
              a href="#{principals_path}" Principals
        div class="main"
          = yield
        
            
      